@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root,html,body {
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    background: url("./img/city.jpg") center center no-repeat;
    height:100vh;
    width:100%;
}
.extra{
    margin-top:200px;
    width:70%;
}